.side
  .side__user
    %h3.side__user--name
      = current_user.name
    %ul.side__user--lists
      %li.list
        =link_to do
          = fa_icon 'edit', class: 'fa'
      %li.list
        =link_to edit_user_path(current_user) do
          = fa_icon 'cog', class: 'fa'
  .side__groups
    .group
      .group--name グループ名
      .group--message 最新のメッセージ
