.side {
    box-sizing: border-box;
    background-color: $side_blue-light;
    color: $white;
    width: 300px;
    height: 100vh;
    float: left;
  .user {
      background-color: $side_blue-dark;
      height: 100px;
      width: 300px;
      font-size: 16px;
      display: inline-block;
      position: relative;
    &__name {
        padding: 35px 20px 0px;
        font-weight: bold;
        display: inline-block;
      }
    &__lists {
      width: 50px;
      position: absolute;
      top: 35%;
      right: 20px;
      .list {
              display: inline-block;
              width: 20px;
        .fa {
            display: inline-block;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            color: $white;
        }
      }
    }

  }
  .groups {
      height: calc(100vh - 100px);
      padding: 0 20px;
    .group {
      box-sizing: border-box;
      padding: 20px 0 40px;
      height: 82px;
    .group:hover {
      opacity: 0.5;
      cursor: pointer;
    }
      &__name {
        font-size: 15px;
        color: $white;
        text-decoration: none;
      }
      &__message {
        color: $white;
        font-size: 11px;
        padding-top: 5px;
        text-decoration: none;
      }
    }
  }
}
