html, body {
  height: 100%;
  width: 100%;
}

.information {
  height: 30px;
  width: 100%;
  background-color: #38AEF0;
  p {
    color: #FFFFFF;
    text-align: center;
    padding: 2px;
  }
}

.side {
    box-sizing: border-box;
    background-color: #2f3e51;
    color: #FFFFFF;
    width: 300px;
    height: 100vh;
    float: left;
  &__user {
      background-color: #253141;
      height: 82px;
      width: 300px;
      font-size: 16px;
      display: inline-block;
    &--name {
        padding: 30px 20px 0px;
        font-weight: bold;
        display: inline-block;
      }
    .fa {
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        color: #FFFFFF;
        }
    .fa-edit {
        margin-left: 50px;
    }
  }
  &__group {
      height: calc(100vh - 82px);
      padding: 20px 20px 40px;
    &--name {
        font-size: 15px;
      }
    &--message {
        font-size: 11px;
        padding-top: 5px;
    }
  }
}

.main {
    box-sizing: border-box;
    padding: 0px 40px 0px;
    width: calc(100vw - 300px);
    height: 100vh;
    background-color: #AAAAAA;
    float: right;
  &__group {
      color: #333333;
      padding-top: 30px;
      border-bottom: solid 1px #eeeeee;
      height: 82px;
      position: relative;
    &--name {
        font-size: 20px;
        padding-bottom: 15px;
    }
    &--edit {
        border: solid 1px #00A1E9;
        text-align: center;
        height: 40px;
        padding: 10px 20px;
        position: absolute;
        top: 28px;
        right: 0px;
    }
    &--member {
        font-size: 12px;
        color: #999999;
    }
  }
  &__message {
      box-sizing: border-box;
      padding: 46px 0 40px;
      height: calc(100vh - 113px - 90px);
      color: #434A54;
      overflow: scroll;
    &--user {
        font-size: 16px;
        font-weight: bold;
        display: inline-block;
        padding-right: 10px;
    }
    &--date {
        font-size: 12px;
        color: #999999;
        display: inline-block;
    }
    &--text {
        font-size: 14px;
    }
  }
  &__footer {
      box-sizing: border-box;
      padding: 20px 0px;
      height: 90px;
      width: 100%;
      bottom: 0px;
    .main__footer-form {
        box-sizing: border-box;
        position: relative;
      .main__footer-body {
          box-sizing: border-box;
          position: relative;
        .message {
            box-sizing: border-box;
            width: calc(100% - 130px);
            padding: 0px 10px;
            height: 50px;
            font-size: 16px;
            color: #434A54;
        }
        label {
            box-sizing: border-box;
            height: 50px;
            width: 40px;
            margin-right: 130px;
            position: absolute;
            top: 25%;
            right: 10px;
          .fa-image {
              display: inline-block;
              font-family: FontAwesome;
              font-style: normal;
              font-weight: normal;
              content: "\f03e";
          }
        }
        #upload-icon {
            display: none;
        }
      }
      .submit {
          box-sizing: border-box;
          background-color: #38AEF0;
          color: #FFF;
          height: 50px;
          width: 100px;
          padding: 0px 20px;
          margin-left: 15px;
          position: absolute;
          right: 0px;
          bottom: 0px;
      }
    }
  }
}
